<!DOCTYPE html>
<html>
<head>
    <title>Welcome to CryptoTrade</title>
    <link rel="stylesheet" href="/app/views/styles.css">
</head>
<body>
<header>
    <h1>Welcome to CryptoTrade</h1>
</header>
<div class="container">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>
</body>
</html>
